.rating {
  gap: 6px;
  height: 34px;
}

.rating__stone {
  padding: 0;
  height: 100%;
  width: 23px;
  background: url("../assets/rating.svg") no-repeat center / contain;
  appearance: none;
  cursor: pointer;
  transition: background 0.18s ease-in-out;
}

.rating__stone:checked {
  width: 35px;
  background: url("../assets/ratingColor.svg") no-repeat center / contain;
}

.rating__stone:focus-visible {
  filter: drop-shadow(0px 0px 6px var(--silver));
}

@media (max-width: 640px) {
  .rating {
    gap: 3px;
    height: 28px;
  }

  .rating__stone {
    height: 80%;
    width: 16px;
  }

  .rating__stone:checked {
    height: 100%;
    width: 26px;
  }
}
